.character-profile {
  margin-bottom: 1%;
}

.character-profile h3 {
  padding: 2%;
  background-color: #24325f;
  color: #ffffff;
}

/* Hovering colour and cursor style */
.character-profile h3:hover {
  background-color: #384e94;
  cursor: pointer;
}

.character-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5%;
}

.character-profile img {
  width: 20%;
  border-radius: 5%;
  margin-top: 1%;
  margin-left: 1%;
}

.character-details-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 110%;
  gap: 0.5rem;
}
